*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    background-color: aliceblue;
}
.navbar{
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Logo */
.logo{
    width:280px;
    height: 70px;
    background-image: url('flipcartlogo.svg');
    background-size: cover;
    position: relative;
    right: 80px;
}
/*search bar */
.searchbar input{
     height: 35px;
     width: 400px;
     
    
}
.searchbar i{
    color: rgba(0, 0, 0, 0.825);

}
/* Login */
.loginimage{
    background-size: cover;
    height: 24px;
    width: 24px;
    
}
.login{
    display: flex;

}
.login p{
    position: relative;
    top: 2px;
    left: 5px;
}

/* cart*/
.cart{
    height: 24px;
    width: 24px;
    display: flex;
}
.cart p{
    position: relative;
    left: 2px;
}
/* seller */
.seller{
    display: flex;
}
.sellerlogo{
    background-size: cover;
    height: 24px;
    width: 24px;
    display: flex;
}
.seller p{
    position: relative;
    top: 2px;
    left: 3px;
    font-size: 18px;
    font-weight: 100;
}
/* contentone */
.contentone{
    height: 170px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box  {
    height:150px ;
    width: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

     

}
.b{
    height: 100px;
    width: 130px;
    background-color:bisque;
    background-size: cover;
   
}
.box p{
    padding-top: 10px;
}
/* contenttwo */
.contenttwo{
    height: 210px;
    margin-top: 20px;
    background-image: url('herosection.webp');
    background-size: cover;
}
/* textforcontent3 */
#textforcontent3{
    margin-top: 30px;
    height: 50px;
    background-color: white;
    font-size: 30px;
    padding-top: 20px;
}
/* contentthree */
.contentthree{
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
/* outerbox */
.ob{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.ob p{
    margin-top: 20px;
}
/* innerbox */
.ib{
    height: 200px;
    width: 250px;
    background-size:cover;
}
/* contentfive */
.contentfive{
    height: 200px;
    background-image: url('content5.webp');
    background-size: cover;
    margin-top: 20px;
}
/* footer */
/* f1 */
.f1{
    height: 350px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    background-image: url('finalfoter.png');
    background-size: cover;
}
